@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DotGothic16";
  src: url("../media/fonts/DotGothic16-Regular.ttf") format("truetype");
}

html, body {
  overscroll-behavior-y: none;
  @apply text-gray-300;
}

.font-lcd {
  text-transform: uppercase;
  font-family: "DotGothic16", monospace;
  letter-spacing: 0.15em;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.emergency-stripes {
  background: repeating-linear-gradient(
                  45deg,
                  theme('colors.rose.400'),
                  theme('colors.rose.400') 10px,
                  theme('colors.rose.600') 10px,
                  theme('colors.rose.600') 20px
  );
}